.dataCapture {
  padding-top: 14px;
  border-top: 1px solid var(--nav-border);
  border-bottom: 1px solid var(--nav-border);
}

.dataCaptureTitle {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: var(--light-black);
  margin: 56px 0 32px;
}

.dataCaptureList {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 56px;
}

.dataCaptureList li {
  list-style: none;
  color: #2961d8;
  cursor: pointer;
}

.dataCaptureLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 700px) {
  .dataCaptureList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .dataCaptureList {
    grid-template-columns: 1fr;
  }
}
